.fullRecipe{
  
}

.container{
  /* width: 800px;
  height: 300px;
  margin: 20px auto;
  background: rgb(192, 182, 182);
  display: flex; */
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
}

.image{
/* width: 40%;
background: #000;
height: 100%; */
}

.info{
  margin-left: 2rem;
}

.title{
color: rgb(0, 0, 0);
}


li {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

ul {
  margin-top: 2rem;
}