a{
  text-decoration: none;
  color: #8B9593;
}
.btn{
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn a{
  border: none;
  border: 3px solid #A8C9B9;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s linear;  
}
.btn a:hover{
  box-shadow: 0px 0px 28px  rgba(55, 228, 133, 0.719);
  color: #6ACC00;
  background: #8B9593;
  transition: all 0.2s linear;
}