
.recipe{
  width: 250px;
  height: 400px;
  margin: 1.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s linear;  
}
.recipe:hover {
  box-shadow: 0px 0px 18px  rgba(55, 228, 170, 0.719);
  transform: scale(1.05, 1.05);
}
.recipe img{
  width: 100%;
}

.recipe_info{
  padding: 5px;
}