.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
  max-width: 100%;
  margin: 0;
  /* padding: 10px; */
  width: 100%;
}

.logo{
  /* position: relative; 
  overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px  rgba(61, 111, 206, 0.671);
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  margin:10px;
  transition: all 0.3s linear;  
}
.logo:hover{
  /* transition: all 0.5s linear;   */
  box-shadow: 0px 0px 28px  rgba(55, 228, 133, 0.719);
  transform: scale(1.2, 1.2);
}

.logo img{
  width: 90%;
}

.buttons{
  display: flex;

}