.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
  max-width: 100%;
  margin: 0;
  /* padding: 10px; */
  width: 100%;
}

.logo{
  /* position: relative; 
  overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px  rgba(23, 39, 30, 0.315);
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  margin:10px;
}
.logo:hover{
  transition: all 0.2s linear;  
  box-shadow: 0px 0px 28px  rgba(55, 228, 133, 0.719);
  transform: scale(1.1, 1.1);
}

.buttons{
  display: flex;

}